{% extends 'base.html'%}
{% load static%}

{%block content%}
  <!-- section about start -->
  <div class="about_section">
    <div class="about_text">
      <div class="container">
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">About</span> Dogs</strong></h1>
        	<p class="magna_text"> consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exer<br/><br/>
			</p>
			<p class="magna_text"> consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exer<br/><br/>
			</p>
			<p class="magna_text"> consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exer<br/>
			</p>

        <div class="about_bt">
          <button class="more_bt">Read More</button>
        </div>
      </div>
    </div>
  </div>
  <!-- section about end -->
{%endblock%}